<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" xmlns:layout="http: //www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="content">
                <h5 class="pb-2">PERSONALITY TRAITS</h5>
                <p class="text-justify">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim soluta asperiores provident, vero
                    beatae
                    reiciendis sequi! Tempore dolor voluptatem quo maiores debitis est magni ab, beatae asperiores
                    voluptatum,
                    ipsum inventore.
                    Voluptas adipisci molestiae deleniti. Tenetur odio et itaque maiores minus voluptatibus commodi rem
                    quam
                    officiis facilis harum incidunt placeat ut, nihil omnis minima temporibus dolorum officia eum optio
                    quisquam
                    hic?
                    Voluptatem labore dolore quidem vero quam cum consequuntur odit tenetur voluptates veritatis nemo
                    sit fugit,
                    molestiae a culpa quo nisi, dolorum corrupti rerum ea vitae! Quis eius mollitia suscipit
                    exercitationem.
                    Nulla in dolore harum esse molestiae voluptatem incidunt voluptas, est ratione perferendis
                    distinctio hic
                    voluptatum voluptate. Cum aperiam atque modi necessitatibus consequuntur sunt voluptate temporibus
                    nam
                    quisquam quod, sequi vel.
                </p>
            </div>
        </div>
    </div>
</body>

</html>